
@import "C:\\Ruby22-x64\\lib\\ruby\\gems\\2.2.0\\gems\\compass-core-1.0.3\\stylesheets\\compass\\_css3.scss";

.console-settings{

    .value{
        width: 100px;
        height: 150px;
        position: absolute;
        top: 15px;
        left: 180px;
        background-color: #368ed7;

        .header{
            padding: 4px 0px;
            background-color: #366fa1;
            color: #c3d4e3;
            text-align: center;
        }

        .content{
            position:relative;
            z-index:100;
            text-align:center;
            .text{
                position:relative;
                display: block;
                height: 60px;
                width: 80px;
                margin: 25px auto 0px auto;
                color: white;
                font-size: 24px;
                background-color: #4a9adb;
                border-bottom: 1px solid #9bc7eb;
                border-top: 1px solid #9bc7eb;
                line-height:57px;

                .border-top{
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 20px;
                    height: 1px;
                    background-color: #9bc7eb;
                }
                .border-bottom{
                    position: absolute;
                    left: 0px;
                    bottom: -2px;
                    width: 20px;
                    height: 1px;
                    background-color: #9bc7eb;
                }
            }
        }

        .bg{
            position: absolute;
            z-index:1;
            top: 0px;
            left: 0px;
            height: 152px;
            width: 100px;
            @include background(url("../images/property-bg-top-left.png") no-repeat 0% 0%, 
                url("../images/property-bg-top-right.png") no-repeat 100% 0%,
                url("../images/value-bg-bottom-left.png") no-repeat 0% 100%,
                url("../images/property-bg-bottom-right.png") no-repeat 100% 100%);
        }
    }


}