@import "C:\\Ruby22-x64\\lib\\ruby\\gems\\2.2.0\\gems\\compass-core-1.0.3\\stylesheets\\compass\\_css3.scss";
@import "C:\\Ruby22-x64\\lib\\ruby\\gems\\2.2.0\\gems\\breakpoint-2.5.0\\stylesheets\\_breakpoint.scss";
@import "../utilites/_index.scss";
@import "_device.scss";

%device-microwave{
    .content{
        position: absolute;
        width: $sz-device-width;
        height: $sz-device-height;
        @include background(url("../images/microwave.png") no-repeat 15% 50%);

        .property{
            text-align: right;
            font-style: italic;
            color: $color-device-property-text;

            .grill{
                position: absolute;
                width: 300px;
                height: 200px;
                @include background(url("../images/microwave_grill.png") no-repeat 20% 55%);
                /*opacity: 0.45;*/
            }
            .wave{
                position: absolute;
                width: 300px;
                height: 200px;
                @include background(url("../images/microwave_wave.png") no-repeat 19% 64%);
                /*opacity: 0.45;*/
            }
             
            .text{
                display: block;
                float:right;
                clear: both;
                margin-right: 8px;
                margin-top: 15px;
            }           
            .text-value{
                display: block;
                float:right;
                clear: both;
                margin-right: 14px;
                line-height: 40px;
                text-decoration: underline;
                font-size: 26px;
            }
        }
    }
}

.devices{
    .device-microwave{
        @extend %device;
        @extend %device-microwave;
    }
}

.console-device{
    .device-microwave{
        @extend %device-microwave;
        display: block;
        width: 300px;
        margin: 0px auto;
        margin-bottom: 10px;
        position: relative;
        @include breakpoint(1200px){
            margin-left: 225px;
        }
    }
}